<<<<<<< HEAD
/* @keyframes {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
=======
@keyframes opacity {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}
>>>>>>> 6ba7f4a (added router dom)
