@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans&display=swap');

$accent: #511734;
$white: #F1E8E8;
$black: #1A0612;

$bx-accent: 0 4px 4px rgba($accent, 0.25);
$bx-16: 0 3px 6px rgba(0,0,0,0.16);

$default-font: "Roboto";
$mobile: 480px;